.btn{
    outline: none;
    border: none;
    background-color: #3959CC;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .3), -1px -1px 3px rgba(0, 0, 0, .3);
    color: white;
    padding: 1rem 5rem;
    margin: 1rem ;
    transition: transform 200ms ease-in-out;
    font-size: 1rem;
    font-weight: bold;
}

.btn:hover{
    transform: scale(1.1);
}