.form-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
   
    align-items: center;
}

.form{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    height: min-content;
    padding: 2rem 1rem;
    position: relative;
}


.form-heading{
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.extra-heading{
    color: #3959CC;
    font-size: 2rem;
}

.form-content{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Calendar */
.calender-container{
        width:400px;
        border-bottom: 2px solid black;
        padding: .4rem 2rem .4rem .2rem ;
        margin:10px 20px 20px 20px;
        z-index: 100; 
}

.calender-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-content{
    position: absolute;
    width: max-content;
    top: 240px;
    right: 20px;
    z-index: 100;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
}



@media only screen and (max-width: 600px) {
   .form-heading{
    font-size: 1.2rem;
   }
   
   .extra-heading{
    font-size: 1.8rem;
   }

   .form-content{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.form{
    margin: 2rem 0;
}

.calender-container{
    width: 350px;
}

}